@model IEnumerable<pharmacogenomicsManagement.Models.Drug>

<!--button-->
<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Drug" asp-action="Create">Create new Drug</a>

<table class="table table-striped table-hover ">
    <thead>
        <!--tr代表標籤的意思-->
        <tr>
            <th>ATC code</th>
            <th>Drug Name</th>
            <th>View Detail</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.AtcCode</td>
            <td>@item.DrugName</td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Pharmcogenome" asp-route-atccode="@item.AtcCode">View</a></td>
            <td><a class="btn btn-info" asp-area="" asp-controller="Drug" asp-action="Update" asp-route-id="@item.AtcCode">Edit</a></td>
            <td><a class="btn btn-danger" asp-area="" asp-controller="Drug" asp-action="Delete" asp-route-id="@item.AtcCode">Delete</a></td>
        </tr>
        }
    </tbody>
</table>

